
.Toggle-container {
    padding: 0;
    margin-top: 0px;
    border-top: 3px solid @--color-red;
    border-radius: 4px;
}

.Toggle-loader {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    line-height: 74px;
    font-size: 16px;
    text-align: center;
    color: @--color-black40;
    background: @--color-white;
    border: 1px solid @--color-white20;
}

.Toggle {
    display:inline-block;
    box-sizing: border-box;
    width: 100%;
    padding: 6px 18px;
    font-size: 18px;
    font-weight: 300;
    line-height: 34px;
    background: @--color-white;
    border-left: 1px solid @--color-white20;
    border-right: 1px solid @--color-white20;
    border-bottom: 1px solid @--color-white20;

    &:hover {
        background: @--color-white30;
        cursor: pointer;
    }

    span {
        vertical-align:middle;
    }
}

.Toggle-indicator {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 20px;
    border-radius: 200px;
    background: @--color-red;
    transition: background .1777s ease-out;
}
.Toggle-indicator--isOn {
    background: @--color-green;
}
